<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Médica TonYnho</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header> <img src="/images/clinic_logo.png" alt="Clínica Logo" class="logo">
        <h1>Clínica Médica TonYnho</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/inserir">Inserir Paciente</a></li>
            <li><a href="/listar">Listar Pacientes</a></li>
        </ul>
    </nav>

    <main class="container">
        <h2>Bem-vindo(a) à Clínica Médica TonYnho</h2>
        <p>Realizamos consultas com amor e dedicação para oferecer o melhor cuidado à sua saúde.</p>
    </main>

    <footer>
        <p>&copy; 2024 Clínica Médica TonYnho. Todos os direitos reservados.</p>
    </footer>
</body>

</html>